html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
  align-items: baseline;
  background-color: #fff0ed;
}

nav {
  padding: 3rem;
  font-size: 3.3rem;
  font-weight: 300;
}

.header__item {
  margin: 2rem 1rem;
}

.website-icon {
  min-width: 50px;
  max-width: 120px;
}

.website-name {
  font-size: 6rem;
  text-decoration: none;
  font-weight: 300;
}
