html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.8rem;
  font-weight: 400;
}

footer {
  background-color: #fff0ed;
  font-size: 3.3rem;
  font-weight: 300;
}

header,
.hero-section {
  background-color: #fff0ed;
}

.header__image {
  padding: 2rem 2rem;
  display: block;
}

.header__shop-now {
  color: white;
  background-color: #5bacc3;
  text-decoration: none;
}

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.hero-section__divider {
  width: 37rem;
  display: flex;
  flex-direction: column;
}

.nav-item {
  font-size: 3.3rem;
  font-weight: 300;
}

.product {
  margin: 8rem auto;
  box-shadow: 1rem 1rem 1rem 1rem grey;
  padding: 4rem 9rem;
  border-radius: 3rem;
  justify-content: center;
}

.product__discount {
  width: 90%;
  background-color: #393939;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  margin: 10rem auto;
}

.product__discount p {
  font-size: 4.5rem;
  font-weight: 400;
}

.products__item {
  font-weight: 300;
}

.products__list {
  display: flex;
  justify-content: space-around;
}

.products__price {
  color: #5bacc3;
  font-size: 2rem;
  margin: auto 1rem;
}

.products__section > h2 {
  width: 20rem;
  margin: 5rem auto;
}

.product__view-all {
  margin: 10rem auto;
}
