@-webkit-keyframes change-color {
  0% {
    background-color: black;
  }
  50% {
    background-color: #5bacc3;
  }
  100% {
    background-color: black;
  }
}
@keyframes change-color {
  0% {
    background-color: black;
  }
  50% {
    background-color: #5bacc3;
  }
  100% {
    background-color: black;
  }
}
@-webkit-keyframes spinning-can {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
@keyframes spinning-can {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
.offerings__discount-text {
  -webkit-animation: change-color 5s 1s infinite;
          animation: change-color 5s 1s infinite;
}
.offerings__tilted-can {
  -webkit-animation: spinning-can 8s 1s;
          animation: spinning-can 8s 1s;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2 {
  font-size: 6rem;
  font-weight: 300;
}

h3 {
  font-size: 3.3rem;
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-weight: 400;
  color: #393939;
}

a {
  text-decoration: none;
  color: #393939;
  font-size: 2.1rem;
}

li {
  list-style: none;
}

p {
  font-size: 1.8rem;
  font-weight: 400;
}

.header__icon-name {
  font-size: 3.3rem;
}

.products__name {
  font-size: 3.3rem;
  font-weight: 400;
}
.products__package {
  font-size: 1.8rem;
  color: grey;
  font-weight: 400;
}
.products__price {
  font-size: 2.9rem;
  font-weight: 700;
  color: #5bacc3;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  background-color: #fff0ed;
  align-items: baseline;
}
.header ul {
  display: flex;
  flex-direction: row;
}
.header__anchor-item {
  margin: 0 2rem;
}

footer {
  background-color: #fff0ed;
  padding: 0 4rem 2rem;
  background-image: url("../../assets/logos/coffee-beans-logo-and-footer.svg"), url("../../assets/logos/coffee-beans-logo-and-footer.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: -1% 3%, 101% 5%;
  background-size: 10rem;
}

.footer {
  margin: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__address {
  display: flex;
  flex-direction: column;
}
.footer img {
  width: 5rem;
  min-width: 5rem;
  max-width: 12rem;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10rem;
  background-color: #fff0ed;
}
.hero__divider {
  width: 30%;
  margin: auto 5rem;
  position: relative;
}

.products {
  background-color: #f7f7f7;
  padding-top: 4rem;
}
.products__heading {
  display: flex;
  justify-content: center;
}
.products__group {
  display: flex;
  justify-content: space-evenly;
}
.products__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 5px 9px -1px grey;
  border-radius: 1rem;
  min-width: 33rem;
  max-width: 35rem;
  min-height: 44rem;
  max-height: 46rem;
}
.products__image {
  min-height: 24rem;
  max-height: 55rem;
  margin: 0 auto;
}
.products__bundle {
  background-color: #fff0ed;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  height: 100%;
}
.products__view-all {
  display: flex;
  justify-content: center;
}

.offerings__outter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 6rem;
  padding: 5rem;
  position: relative;
}
.offerings__image {
  min-width: 40rem;
  max-width: 50rem;
  background-image: url("../../assets/images/coldbrewbackground.png");
  background-size: contain;
  display: flex;
  justify-content: center;
  padding: 6rem;
  position: relative;
  bottom: 0.5rem;
  right: 0.5rem;
}
.offerings__major-element {
  margin: 5rem 6rem;
  width: 50rem;
}
.offerings__text-images {
  display: flex;
  justify-content: space-between;
}
.offerings__tiny-image {
  width: 5rem;
  min-width: 5rem;
  max-width: 12rem;
}
.offerings__discount-text {
  max-width: 90%;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  height: 10rem;
  background-color: #393939;
  color: #fff;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 400;
  margin: auto auto;
  vertical-align: middle;
  line-height: 10rem;
}

.menu-hero {
  background-image: url("../../assets/images/coffee-circle.jpg");
  background-size: cover;
  width: 100%;
  position: relative;
  height: 57.5rem;
  max-height: 60rem;
  background-position: center;
  display: flex;
  justify-content: center;
}
.menu-hero__heading {
  background-color: #393939;
  position: relative;
  bottom: 0.5rem;
  right: 0.5rem;
  min-width: 280px;
  max-width: 300px;
  min-height: 180px;
  margin: auto;
  max-height: 200px;
  color: white;
  display: flex;
  justify-content: center;
}

.menu__options {
  background-color: #393939;
  width: 100%;
  height: 8rem;
  min-height: 6rem;
  padding: 2rem;
}
.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menu a {
  color: white;
  margin: 0 2rem;
  border-left: 0.4rem solid #5bacc3;
  padding-left: 2rem;
}
.menu__p {
  font-style: italic;
}
.menu__price {
  color: #5bacc3;
}
.menu__header, .menu__type, .menu__p, .menu__price {
  margin: 2rem auto;
  text-align: center;
  width: 35%;
}

.hot-drinks,
.pastries {
  padding: 5rem;
  background-color: #fff0ed;
}

.cold-drinks {
  padding: 5rem;
  background-color: #f7f7f7;
}

.hero__button {
  color: white;
  position: relative;
  background-color: #5bacc3;
  margin: 5rem 0;
  padding: 2rem;
  min-width: 18rem;
  max-width: 80%;
}
.hero__button ::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  color: purple;
  border: 0.2rem solid black;
  transform: translate(-4px, -4px);
  bottom: 1rem;
  right: 1rem;
  opacity: 25%;
}

.products__button {
  color: white;
  background-color: #5bacc3;
  margin: 5rem 0;
  padding: 2rem;
  min-width: 18rem;
  max-width: 80%;
  border: none;
}

.offerings__cta {
  color: white;
  background-color: #5bacc3;
  margin: 5rem 0;
  padding: 2rem;
  min-width: 18rem;
  max-width: 80%;
  border: none;
}

.active {
  color: #5bacc3;
}/*# sourceMappingURL=styles.css.map */