@use "../abstracts/" as a;

.header {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  background-color: a.$nitro-pink;
  align-items: baseline;

  ul {
    display: flex;
    flex-direction: row;
  }

  &__anchor-item {
    margin: 0 2rem;
  }
}
