@use "./colors" as a;

@mixin blue-button {
  color: white;
  background-color: a.$nitro-blue;
  margin: 5rem 0;
  padding: 2rem;
  min-width: 18rem;
  max-width: 80%;
  border: none;
}

@mixin icons-size {
  width: 5rem;
  min-width: 5rem;
  max-width: 12rem;
}

@mixin move-relative-bottom-right($bottom, $right) {
  position: relative;
  bottom: $bottom;
  right: $right;
}

// @mixin blue-button {
//   color: white;
//   position: relative;
//   background-color: a.$nitro-blue;
//   background: transparent;
//   margin: 5rem 0;
//   padding: 2rem;
//   min-width: 18rem;
//   max-width: 80%;
//   border: 1px solid black;
// }
